{% extends "index.html" %}
{% block menu %}
{% include "menu.html" %}
{% endblock %}
{% block contenido %}

<div class="vide">
<div class="video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/CdZN8PI3MqM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
</div>

<br>
<div class="video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/h7MYJghRWt0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<br>
</div>

{% endblock %}
{% block piePagina %}
{% include "piePagina.html" %}
{% endblock %}
