{% extends "index.html" %}
{% block menu %}
{% include "menu.html" %}
{% endblock %}
{% block contenido %}
<!-- subir_video.html -->
<form id="upload-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Subir Video</button>
</form>
{% if mensaje %}
{% if estado %}
<script>
    Swal.fire({
        title: 'Registro Video',
        text: '{{mensaje}}',
        icon: 'success',
        confirmButtonColor: '#3085d6',
        confirmButtonText: 'Aceptar'
    }).then((result) => {
        if (result.isConfirmed) {
            location.href = "/mostrar_videos/"
        }
    });
</script>
{% else %}
<script>
    Swal.fire({
        title: 'Registro Video',
        text: '{{mensaje}}',
        icon: 'error',
        confirmButtonColor: '#3085d6',
        confirmButtonText: 'Aceptar'
    }).then((result) => {
        if (result.isConfirmed) {
            location.href = "/subirVideo/"
        }
    });
</script>
{% endif %}
{% endif %}
{% endblock %}
{% block piePagina %}
{% include "piePagina.html" %}
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
