{% extends "index.html" %}
{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block contenido %}
<div class="video-gallery">
  {% for video in videos %}
    <div class="video-container">
      <video class="custom-video" controls autoplay>
        <source src="{{ video.video_file.url }}" type="video/mp4">
        Tu navegador no admite la reproducción de videos.
      </video>
      <h3>{{ video.title }}</h3>
      <form class="delete-form" data-video-id="{{ video.id }}" method="post" action="{% url 'delete_video' video.id %}">
        {% csrf_token %}
        <button type="button" class="delete-button">Eliminar</button>
    </form>
    
    </div>
  {% endfor %}
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
  const deleteForms = document.querySelectorAll('.delete-form');
  
  deleteForms.forEach(form => {
    const videoId = form.getAttribute('data-video-id');
    const deleteButton = form.querySelector('.delete-button');
    
    deleteButton.addEventListener('click', function() {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.isConfirmed) {
          form.submit();
        }
      });
    });
  });
});
</script>
{% endblock %}

{% block piePagina %}
{% include "piePagina.html" %}
{% endblock %}
